body {
  margin: 0;
}

.header-container {
  margin: 0;
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

header h1 {
  margin: 0;
}

.header-left {
  margin: auto 0;
}

.header-right {
  line-height: 50px;
}

main {
  background-image: url(b022.jpg);
  background-size: cover;
}

.top > img {
  width: 100%;
}

.container {
  text-align: center;
}

.introduce {
  width: 50%;
  float: left;
  text-align: center;
  font-weight: bold;
  flex-basis: 100%;
  justify-content: space-between;
}

.introduce img {
  width: 90%;
  height: auto;
  display: inline-block;
}

.parchase p {
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 24px;
}

.btn {
  text-decoration: none;
  background: green;
  color: white;
  display: block;
  width: 250px;
  line-height: 60px;
  text-align: center;
  margin: 40px auto 48px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
  clear: both;
}

.features section {
  width: 50%;
  float: left;
  text-align: center;
  font-weight: bold;
  flex-basis: 100%;
}

.features img {
  width: 90%;
  height: auto;
  display: inline-block;
}

.normal img {
  padding-top: 12%;
  padding-bottom: 12%;
}

.features p {
  font-size: 20px;
}

span {
  color: red;
}

.lesson-wrapper {
  background-image: url(b022.jpg);
  background-size: cover;
}

.font-container {
  text-align:center;
}

.heading {
  clear: both;
  text-align: center;
}

.lesson {
  float:left;
  width:25%;
}

.lesson-icon {
  position:relative;
}

.lesson-icon p {
  position:absolute;
  top:70px;
  width:100%;
  color:white;
}


footer {
  width: 100%;
  margin: 0;
  background: black;
  color: white;
  display: inline-block;
  text-align: center;
}
